.banner{
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 0px;
    color:wheat;
    margin-bottom: 20px;
    height:241px;
}
#headerRibbon {
    background-image:url('../images/biology_1.jpg');
}
#footerRibbon {
    background-image:url('../images/biology_2.jpg');
}

.bunBox {
    background-image:url('../images/bubblesBW.jpg');
    background-color: #e2efff;
    border-radius: 10px;
    height: 360px;
    width:300px;

}
#gaugeBox{
    background-image:url('../images/dials.jpg'); 
    border-radius: 10px;
    color: wheat;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 5px;

}

.slidergauge {
    width:50%;
}

.colorLabel {
    color: wheat;
}