#headerbillboard{
    background-image:url(images/eclipseBnW.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 0px;
}

#bridge{
    border-radius: 25px;
    background-image: url(images/bridge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#marketscanner{
    border-radius: 25px;
    background-image: url(images/MarketFromOrbit.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pyramid{
    border-radius: 25px;
    background-image: url(images/pyramids.jpg);
    background-position: center;
    background-repeat: no-repeat;
    headerbillboard
}

#syntheticbiology{
    border-radius: 25px;
    background-image: url(images/biology.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hendgefund{
    border-radius: 25px;
    background-image: url(images/collage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fakeimg {
    height: 200px;
    background: #aaa;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    z-index:1;
  }

.light {
    color: wheat;
}
.dark{
    color: black;
    font-weight: bolder;
}
.tophalf{
    height:200px;
    vertical-align: bottom;
}
.marquis{
    text-anchor: middle;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height:200px;
    width: 750px;
    text-shadow: black;
    z-index: 2;
}

.tickertape{
    text-anchor: right;
    text-align: right;
    vertical-align: bottom;
    display: table-cell;
    height:200px;
    width: 750px;
    text-shadow: black;
    z-index: 3;
}

#footerband{
    margin-bottom:0;
    background-image:url(images/Clouds.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 0px;
}