#headerbillboard{
    background-image:url(images/eclipseBnW.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 0px;
}

#bridge{
    border-radius: 25px;
    background-image: url(images/bridge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#marketscanner{
    border-radius: 25px;
    background-image: url(images/MarketFromOrbit.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pyramid{
    border-radius: 25px;
    background-image: url(images/pyramids.jpg);
    background-position: center;
    background-repeat: no-repeat;
    headerbillboard
}

#syntheticbiology{
    border-radius: 25px;
    background-image: url(images/biology.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hendgefund{
    border-radius: 25px;
    background-image: url(images/collage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fakeimg {
    height: 200px;
    background: #aaa;
    border-radius: 25px;
  }

  #footerband{
    margin-bottom:0;
    background-image:url(images/Clouds.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 0px;
  }