#headerJumbotron{
    background-image:url(../images/eclipseBnW.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 0px;
    color:darkslategrey;
}

#footerJumbotron{
    background-image:url(../images/pyramids.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 0px;
    min-height: 300px;
    color:wheat
}


