#headerbillboard{
    background-image:url(../images/eclipseBnW.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 0px;
}

#bridge{
    border-radius: 25px;
    background-image: url(../images/bridge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fakeimg {
    height: 200px;
    background: #aaa;
    border-radius: 25px;
    position:relative;
}

.shady {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.projectboard{
    display: flex;
    flex-flow: column nowrap;
    max-lines: 2;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
.marquisText {
    text-align: center;
    height:30px;
    margin-top: 80px;
    vertical-align: bottom;
}

.assetcells{
    flex-flow: row nowrap;
}

.assettext{
    margin-left:40px;
    text-align: left;
    vertical-align: bottom;
}

.pinger{
    margin: 0;
    transform: translateX(-50%) translateY(90%);
    background-color: black;
    color:wheat;
}

.light {
    color: wheat;
}
.dark{
    color: black;
    font-weight: bolder;
}

#marketscanner{
    background-image: url(../images/MarketFromOrbit.jpg);
}

#pyramid{
    background-image: url(../images/pyramids.jpg);
}

#syntheticbiology{
    background-image: url(../images/biology.jpg);
}

#tradebot{
    background-image: url(../images/utopia.jpg);
}

#lastwill{
    background-image: url(../images/briefcase.jpg);
}

#shuffle{
    background-image: url(../images/collage.jpg);
}

#footerband{
    margin-bottom:0;
    background-image:url(../images/Clouds.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 0px;
}