#headerJumbotron{
    background-image:url('../images/biology.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 0px;
    color:wheat;
    margin-bottom: 20px;
}

#footerJumbotron{
    background-image:url('../images/bunnies/fluffle1.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 0px;
    color:wheat;
    margin-top: 35px;
}

#bunnyFrame {
    width: 350px;
    height: 300px;
    --curvy: 35%;
    z-index:0;
}

.part {
    background-color: wheat;
    border-width: 2px;
    border-style: dotted;
    border-color: black;
    border-radius: var(--curvy);
    position:relative;
}

.underfur {
    background-color: seashell;
    border-color: gray;
    border-radius: var(--curvy);
}

.spots {
    background-color: rgb(235, 197, 30);
    border-width: 2px;
    border-style: dotted;
    border-color: rgb(247, 209, 72);
}

#skull {
    left:42.5%; width: 15%;
    top: 20%; height:25%;
    border-radius: var(--curvy);
    z-index:2;
}
#face {
    left:10%;width:80%;
    top:20%;height:40%;
    background-color: seashell;
    border-radius: 50% 50% 5% 5%;
    z-index:3;
}
#skullcap1 {
    height:20%;
    border-radius:50%;
    transform:
        translateX(-100%)
        translateY(220%);
}
#skullcap2 {
    height:20%;
    transform:
        translateX(10%)
        translateY(250%);
}
#skullcap3 {
    height:20%;
    border-radius:50%;
    transform:
        translateX(150%)
        translateY(220%);
}

#ears {
    position:relative;
    top: -130%; height: 100%;
    left: -15%; width: 200%; 
    border-radius: var(--curvy);
    z-index:1;
}
#rightEar{
    transform-origin: bottom left;
    transform:
        scaleX(0.5)
        scaleY(1.5)
        translateX(+75%)
        translateY(-10%)
        rotateZ(-20deg);
    z-index:1;
}
#insideRightEar {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 80%;
    background-color: pink;
    border-width: 2px;
    border-style: dotted;
    border-color: seashell;
    transform:
        skewY(-15deg)
        translateX(-50%)
        translateY(10%);
    z-index:2;
}
#leftEar{
    transform-origin: bottom right;
    transform:
        scaleX(0.5)
        scaleY(1.5)
        translateX(-75%)
        translateY(-10%)
        rotateZ(+30deg)
        rotateX(30deg);
    z-index:1;
}
#insideLeftEar {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 80%;
    background-color: pink;
    border-width: 2px;
    border-style: dotted;
    border-color: seashell;
    transform:
        skewY(15deg)
        translateX(-50%)
        translateY(20%);
    z-index:2;
}

.eyeball {
    background-color: lightyellow;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius : 50%;
    height:25px;
    width:15px;
    margin:0px;
    padding:0px;
    z-index:4;
}
.pupil{
    background-color:lightskyblue;
    border-width:1px;
    border-style: solid;
    border-color: darkblue;
    border-radius: 50%;
    height:20px;
    width: 10px;
    margin:0px;
    padding:0px;
    z-index:5;
}
.iris{
    background-color:black;
    border-width:1px;
    border-style: solid;
    border-color: gray;
    border-radius: 50%;
    height:80%;
    width: 80%;
    margin:0px;
    padding:0px;
    z-index:6;
}
.eyeHighlight{
    background-color: whitesmoke;
    border-width:1px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    height:50%;
    width: 50%;
    margin:0px;
    padding:0px;
    z-index:7;
}
#rightEyeball {
    transform:
        translateX(100%)
        translateY(-30%);
}
#rightIris {
    transform:
        translateX(-10%)
        translateY(10%);
}
#leftEyeball {
    transform:
        translateX(180%)
        translateY(-30%);
}
#leftPupil{
    transform:
        translateX(20%);
}
#leftIris {
    transform:
        translateX(40%)
        translateY(10%);
}
#leftEyeHighlight {
    transform:
        translateX(50%);
}

#jowels {
    width:200%;
    height: 80%;
    border-radius: var(--curvy);
    transform:
        translateX(-10%)
        translateY(-150%);
}
.wisker{
    background-color: lightgrey;
    border-radius: 0%;
    height:1px;
    width: 50px;
    margin:0px;
    padding:0px;
    z-index:5;
}
#rightCheek{
    transform:
        scaleX(0.9)
        scaleY(1.5) 
        translateX(10%) 
        translateY(+20%);
}
#rightMustache{
    height:80%;
    width: 250%;
    background-color: seashell;
    border-radius: 80% 5% 5% 5%;
    transform:
        scaleX(1.2)
        translateY(-00%)
        translateX(-10%);
    z-index:4
}
#rightTopWisker{
    transform-origin: right bottom;
    transform:
        translateX(-80%)
        translateY(-1200%)
        rotateZ(10deg);
}
#rightCenterWisker{
    transform-origin: right bottom;
    transform:
        translateX(-90%)
        translateY(-900%);
}
#rightBottomWisker{
    transform-origin: right bottom;
    transform:
        translateX(-80%)
        translateY(-750%)
        rotateZ(-10deg);
}
#rightCheekSpot {
    height:5px;
    width: 5px;
    border-radius: 50%;
    transform:
        translateX(-180%)
        translateY(-360%);
}
#nose{
    background-color:pink;
    transform: 
        scaleX(0.3)
        scaleY(0.5)
        translateX(-150%) 
        translateY(-80%);
    z-index:5
}
#leftCheek{
    transform: 
        scaleX(1.0)
        scaleY(1.5)
        translateX(100%) 
        translateY(-45%);
}
#leftMustache{
    height:80%;
    width:300%;
    background-color: seashell;
    border-radius: 5% 80% 5% 5%;
    transform:
        scaleX(1.0)
        scaleY(1.0)
        translateX(-50%);
    z-index:4;
}
#leftTopWisker{
    transform-origin: left bottom;
    transform:
        translateX(-0%)
        translateY(-1200%)
        rotateZ(-10deg);
}
#leftCenterWisker{
    transform-origin: left bottom;
    transform:
        translateX(5%)
        translateY(-900%);
}
#leftBottomWisker{
    transform-origin: left bottom;
    transform:
        translateY(-750%)
        rotateZ(10deg);
}
#leftCheekSpot {
    height:5px;
    width: 5px;
    border-radius: 50%;
    transform:
        translateX(250%)
        translateY(-360%);
}

#tooth {
    background-color:white;
    transform:
        scaleX(0.5)
        scaleY(0.5)
        translateX(-90%)
        translateY(20%);
    z-index:1
}

#ribs {
    left:-50%; width: 200%;
    top: -130%; height:120%;
    border-radius: var(--curvy);

}
#ruffle{
    height:80%;
    width:80%;
    transform:
        translateX(12.5%)
        translateY(10%);
    border-radius: 25px 25px 45px 45px;
}
.backspot{
    height:8px;
    width:8px;
    border-radius:45%;
}
#leftbackspot1{
    transform:
        translateX(15px)
        translateY(-55px);
}
#leftbackspot2{
    transform:
        translateX(0px)
        translateY(-50px);
}
#leftbackspot3{
    transform:
        translateX(0px)
        translateY(-35px);
}
#rightbackspot1{
    transform:
        translateX(55px)
        translateY(-79px);
}
#rightbackspot2{
    transform:
        translateX(71px)
        translateY(-73px);
}
#rightbackspot3{
    transform:
        translateX(71px)
        translateY(-58px);
}

#shoulders{
    top: -160%; height: 80%;
    left: -10%; width: 120%;
    position: relative;
}
#rightHumerus {
    border-width:3px;
    transform-origin: bottom right;
    transform: 
        scaleX(0.4)
        scaleY(0.5)
        rotateZ(-10deg) ;
}
#rightPaw {
    width:300%;
    height: 150%;
    border-width:3px;
    transform:
        translateY(-20%)
        rotateZ(-15deg);
    background-color: seashell;
}
#leftHumerus {
    border-width: 3px;
    transform-origin: bottom left;
    transform: 
        scaleX(0.4)
        scaleY(0.5)
        translateX(150%)
        rotateZ(+10deg) ;
}
#leftPaw {
    width:300%;
    height: 150%;
    border-width:3px;
    transform:
        translateX(-50%)
        translateY(-20%)
        rotateZ(15deg);
    background-color: seashell;
}

#lowerBody {
    position:relative;
    top: -135%;height: 80%;
    left: -55%; width: 250%;
}
#rightFemur {
    left:+20%; width: 60%;
    top: -30%; height:150%;
    transform-origin: bottom left;
    transform: 
        rotateZ(-10deg) 
        scaleX(0.6);
    z-index:1;
}
.legspot{
    height:12px;
    width:12px;
    border-radius:50%;
}
#rightlegspot1{
    transform:
        translateX(30%)
        translateY(-660%);
}
#rightlegspot2{
    transform:
        translateX(0%)
        translateY(-560%);
}

#rightTibia {
    width: 75%;
    height: 100%;
    transform-origin: top left;
    transform:
        scaleY(1)
        scaleX(2)
        rotateZ(15deg);
    z-index:2;
}
#rightFoot {
    width:120%;
    height:110%;
    transform-origin: bottom right;
    transform:
        rotateZ(-20deg)
        translateY(-20%)
        translateX(20%);
    background-color: seashell;
    z-index:3;
}
.pad {
    margin:0;
    padding:0;
    border:0;
    width:25%;
    height:17%;
    background-color:pink;
    z-index:4;
}
#rightPad1 {
    transform:
        translateX(-5%)
        translateY(0%);
}
#rightPad2 {
    transform:
        translateX(105%)
        translateY(-100%);
}
#rightPad3 {
    transform:
        translateX(210%)
        translateY(-200%);
}
#rightPad4 {
    transform:
        translateX(300%)
        translateY(-200%);
}
#rightPad5 {
    transform:
        scaleX(2.0)
        translateX(50%)
        translateY(-300%);
}


#pelvis {
    left: 0%; width: 100%;
    top: 0%; height: 100%;
    background-color: seashell;
    z-index:0;
}
#leftFemur {
    left:-20%; width: 60%;
    top: -30%; height:150%;
    transform-origin: bottom right;
    transform: 
        rotatez(+10deg) 
        scaleX(0.6);
    z-index:1;
}
#leftlegspot1{
    transform:
        translateX(150%)
        translateY(-660%);
}
#leftlegspot2{
    transform:
        translateX(280%)
        translateY(-600%);
}

#leftTibia {
    width: 75%;
    height: 100%;
    transform-origin: top right;
    transform:
        scaleY(1)
        scaleX(2)
        rotateZ(-20deg);
    z-index:2;
}
#leftFoot {
    width:120%;
    height:110%;
    transform-origin: bottom left;
    transform:
        rotateZ(+40deg)
        translateY(-10%)
        translateX(-75%);
    background-color: seashell;
    z-index:4
}
#leftPad1 {
    transform:
        translateX(45%)
        translateY(0%);
}
#leftPad2 {
    transform:
        translateX(155%)
        translateY(-100%);
}
#leftPad3 {
    transform:
        translateX(295%)
        translateY(-200%);
}
#leftPad4 {
    transform:
        translateX(-20%)
        translateY(-200%);
}
#leftPad5 {
    transform:
        scaleX(2.0)
        translateX(95%)
        translateY(-300%);
}

